.checkbox {
  position: relative;
  padding-left: 24px;
  line-height: 18px;
  cursor: pointer;

  &:hover {
    color: #37c3aa;

    &::before {
      border-color: #37c3aa;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
  }

  &.check {
    &::before {
      border-color: #37c3aa;
    }

    &::after {
      content: '';
      position: absolute;
      left: 1px;
      top: 1px;
      margin: 2px;
      width: 12px;
      height: 12px;
      background-color: #37c3aa;
      border-radius: 4px;
    }
  }
}
